body{
    font-family: arial,sans-serif;
    
    background-color: white;
}
.container{
    max-width: 110vh;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid black;
    

}
h2{
   display: block;
   background-color: aquamarine;
}